.home-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
}

.home-content {
    position: absolute;
    top: calc(50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.home-content>p {
    text-align: center;
    margin-bottom: 3rem;
    font-size: calc(10px + 1vw);
}

.home-content>ul>li {
    margin-bottom: 0.8rem;
    font-size: calc(10px + 0.5vw);
}

.home-content>ul>li:last-of-type {
    list-style-type: none;
}

.home-default {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/*

.heading {
    background: transparent !important;
}

.heading-container > h1 {
    font-weight: bold;
    font-size: 5rem;
    margin-bottom: 30px;
}

.heading-container > ul li {
    font-style: italic;
    font-size: 1.2rem;
}

.heading-container > ul li:last-child {
    margin-top: 10px;
    font-style: normal;
    list-style-type: none;
}
*/